{% extends 'base.html' %}
{% block title %}Добро пожаловать{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card p-3">
      <h3>Добро пожаловать на сайт школы!</h3>
      <p>Вы можете просматривать ограниченную информацию. Дождитесь подтверждения администратора.</p>
    </div>
  </div>

  <div class="col-md-12 mb-4">
    <div class="card p-3">
      <h3>Список мероприятий</h3>
      <ul class="list-unstyled">
        <li><a href="" class="btn btn-primary btn-sm">Посмотреть мероприятия</a></li>
      </ul>
      <p class="text-muted mt-2">Чтобы добавлять данные или видеть награды и призёров, требуется регистрация.</p>
    </div>
  </div>
</div>
{% endblock %}
