{% extends "base.html" %}
{% block content %}
<h3 class="mb-3">📬 Уведомления</h3>

<div class="list-group">
    {% for notification in notifications %}
    <a href="{% url 'notifications:notification_detail' notification.id %}" 
       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center
       {% if not notification.is_read %}list-group-item-warning fw-bold{% else %}list-group-item-light{% endif %}">
       
        <div>
            <strong>{{ notification.title }}</strong>
            <br>
            <small class="text-muted">{{ notification.created_at|date:"d.m.Y H:i" }}</small>
        </div>

        {% if not notification.is_read %}
            <span class="badge bg-primary rounded-pill">Новое</span>
        {% else %}
            <span class="badge bg-success rounded-pill">Прочитано</span>
        {% endif %}
    </a>
    {% empty %}
    <div class="list-group-item">Нет уведомлений</div>
    {% endfor %}
</div>
{% endblock %}
